.modal-content {
	background: #fff;
	border-radius: 15px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	box-shadow: 0 .5rem 1rem rgb(0, 0, 0, 1);
}

.modal-header .modal-title {
	font-size: 25px;
	font-weight: 500;
}

.modal-header .close {
	font-size: 25px;
	font-weight: 700;
}

.modal-body form .product-details {
	display: inline;
	justify-content: space-between;
}

form .product-details .input-box {
	margin-bottom: 15px;
	margin: 12px 0 12px 0;
	width: 100%;
}

form .product-details .input-box .details {
	display: inline;
	font-weight: 500;
	margin-right: 5px;
}

form .product-details .input-box input {
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 10px;
	border: 1px solid #ccc;
	padding-left: 15px;
	font-size: 16px;
	border-bottom-width: 2px;
	transition: all 0.5s ease;
}

.product-details .input-box input:hover {
	border-color: #9b59b6;
}

.product-details .input-box select {
	height: 45px;
	width: 100%;
	border-radius: 10px;
	border: 1px solid #ccc;
	padding-left: 15px;
	font-size: 16px;
	border-bottom-width: 2px;
	transition: all 0.5s ease;
}

.product-details .input-box select:hover {
	cursor: pointer;
	border-color: #9b59b6;
}

.input-box select option {
	padding-left: 15px;
	font-size: 16px;
	transition: all 0.5s ease;
}

form input[type="radio"] {
	display: none;
}

form .radio_field .radio_field_title {
	font-size: 20px;
	font-weight: 500;
}

form .radio-field .category {
	display: flex;
	width: 100%;
	margin: 10px 0;
	justify-content: space-around;
}

.radio_field .category label {
	display: flex;
	align-items: center;
}

.radio_field .category .dot {
	background: #d9d9d9;
	height: 18px;
	width: 18px;
	border-radius: 50px;
	margin-right: 10px;
	border: 4px solid transparent;
}
.category .one:hover, .category .two:hover {
	cursor: pointer;
}
#dot-1:checked ~ .category label .one, #dot-2:checked ~ .category label .two
{
	border-color: #d9d9d9;
	background: #9b59b6;
}
