.list-group-item {
	border: 1px solid #ccc;
	transition: all 1s ease;
	border-radius: 15px;
}

.list-group-item:hover {
	background: linear-gradient(-100deg, #2980b9, #8e44ad);
	font-weight: 700;
	color: #fff;
	letter-spacing: 1px;
	font-size: 15px;
	border-radius: 15px;
	border-bottom-width: 3px;
}
.product-details .input-box #productPic {
  display: none;
}
.product-details .input-box #productPicLabel {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 5px;
  transition: all 0.5s ease;
}
.product-details .input-box #productPicLabel:hover {
  cursor: pointer;
  border-bottom: 2px solid #9b59b6;
  transition: all 0.5s ease;
  border-radius: 20px;
  background-color: #ccc;
  letter-spacing: 1px;
}