.card {
	max-width: 100%;
	border-radius: 20px;
	border: none;
	background: #FAFAFA;
}

.card:hover {
	cursor: pointer;
	box-shadow: 0 .5rem 1rem rgb(0, 0, 0, 0.5);
	transition: all 1s ease;
	letter-spacing: 3px;
	font-weight: 700;
	background: linear-gradient(-100deg, #F0F7BF, #F7F0BF, #CFF5F4, #FFFFFF);
}

.card .card-body a {
	color: #6F7878;
}

.card .card-body a:hover {
	text-decoration: none;
	color: #2B3333
}

.main_cont {
	justify-content: center;
	box-sizing: border-box;
	align-items: center;
	display: flex;
	padding: 10px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.containerAdd {
	background: #fff;
	max-width: 700px;
	width: 100%;
	padding: 25px 30px;
	border-radius: 15px;
	box-shadow: 0 .5rem 1rem rgb(0, 0, 0, 1);
}

.containerAdd .title {
	font-size: 25px;
	font-weight: 500;
	position: relative;
}

.title::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 3px;
	width: 100%;
	background: linear-gradient(100deg, #2980b9, #8e44ad);
}

.containerAdd form .category-details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

form .category-details .input-box {
	margin-bottom: 15px;
	margin: 12px 0 12px 0;
	width: calc(100%/ 2 - 20px);
}

form .category-details .input-box .details {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}

.category-details .input-box input {
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 10px;
	border: 1px solid #ccc;
	padding-left: 15px;
	font-size: 16px;
	border-bottom-width: 2px;
	transition: all 0.5s ease;
}

.category-details .input-box input:focus, .category-details .input-box input:valid
	{
	border-color: #8e44ad;
}

.category-details .input-box input:hover {
	border-color: #9b59b6;
}

form .button {
	height: 45px;
}

form .button input {
	height: 100%;
	width: 45%;
	outline: none;
	color: #fff;
	border: none;
	background: linear-gradient(135deg, #2980b9, #8e44ad);
	font-size: 18px;
	font-weight: 500;
	border-radius: 10px;
}

form .button input:hover {
	cursor: pointer;
	letter-spacing: 2px;
	background: linear-gradient(-135deg, #2980b9, #8e44ad);
	transition: all 1s ease;
}

@media ( max-width : 584px) {
	.container {
		max-width: 100%;
	}
	form .product-details .input-box {
		margin: 12px 0 12px 0;
		width: 100%;
	}
	form .radio_field .category {
		width: 100%;
	}
	.container form .product-details {
		max-height: 300px;
		overflow-y: scroll;
	}
	.product-details::-webkit-scrollbar {
		width: 0;
	}
}