@charset "ISO-8859-1";

.addNewAddressClass {
	text-transform: capitalize;
	border-radius: 5px;
	padding: 15px;
	box-shadow: 0 .2rem .3rem rgb(0, 0, 0, .5);
	width: 90%;
	margin-left: 5%;
	background: #ffffff;
	margin-bottom: 10px;
}

#Notice {
	text-shadow: 0 .2rem .3rem rgb(0, 0, 0, .5);
	margin-top: 50px;
}